.hero {
  background: #0f103f;
}
.navbar_list {
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 143.203%; /* 24.345px */
}
.navbar_list li {
  cursor: pointer;
}
/* .ellipseHero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282.764px;
  height: 282.764px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 282.764px;
  border-radius: 372px;
  border-radius: 282.764px;
  background: radial-gradient(
    106.19% 106.19% at 0% 68.19%,
    rgba(255, 255, 255, 0.3) 24.93%,
    rgba(255, 143, 237, 0.15) 48.32%,
    rgba(34, 12, 122, 0) 62.7%
  );
} */
.firstPng {
  border-radius: 282.764px;
  fill: radial-gradient(
      56.97% 56.97% at 97.37% 88.65%,
      #3f52ff 0%,
      rgba(63, 82, 255, 0) 100%
    ),
    radial-gradient(
      99.07% 99.07% at 12.18% 75.39%,
      #fff 23.94%,
      #ffcef1 41.01%,
      #b6b9ff 67.49%,
      #ffa8e7 86.12%,
      #fff 100%
    );
}
.heroSection {
  background: #0f103f;
}
.ellipseHero img {
  position: absolute;
  animation: moveEllipse 10s linear infinite;
}

/* Pause animation on hover */
.ellipseHero:hover img {
  animation-play-state: paused;
}

/* Resume animation when hover state is removed */
.ellipseHero:not(:hover) img {
  animation-play-state: running;
}
/* hero.css */
/* ... other styles ... */

@keyframes moveEllipse {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50%, 50%);
  }
  50% {
    transform: translate(100%, 0);
  }
  75% {
    transform: translate(50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ellipseHero {
  position: relative;
}

.ellipseHero img {
  position: absolute;
  animation: moveEllipse 10s linear infinite; /* Adjust duration as needed */
}
